.bosh {
    border: solid 13px gray;
    margin: 0 300px;
    padding: 0 15px;
}
h3 {
    color: cornflowerblue;
}
.qator {
    border-left: solid 6px grey;
    padding-left: 8px;
}
.teg-1 {
    border-bottom: solid 2px gray;
}
p {
    color: darkslategrey;
}